body {
  background-color: #000;
  overflow-x: hidden;
  width: 100vw;
}

@font-face {
  font-family: "Alata";
  src: url(./Fonts/alata-regular.ttf) format("truetype");
}

@font-face {
  font-family: 'JungleFever';
  src: url('./Fonts/JungleFever.eot');
  src: url('./Fonts/JungleFever.eot?#iefix') format('embedded-opentype'),
      url('./Fonts/JungleFever.woff2') format('woff2'),
      url('./Fonts/JungleFever.woff') format('woff'),
      url('./Fonts/JUNGLEFE.TTF') format('truetype'),
      url('./Fonts/JungleFever.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.footer {
  position: fixed;
  height: 80px;
  bottom: 0px;
  background-color: black;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
.leaf {
  position: absolute;
  width: 20vw;
  height: 20vw;
  border-radius: 100% 0%;
}

.leaf-left {
  transform-origin: bottom left;
  top: -20vw;
  left: 0px;
  filter: drop-shadow(0px -10px 8px #000);
}

.leaf-right {
  transform-origin: top right;
  top: 0px;
  right: 0px;
  filter: drop-shadow(0px 10px 8px #000);
}

.logoholder {
  height: 30vw;
  overflow: hidden;
}

#logo {
  opacity: 1;
  margin-top: 70px;
  animation-name: fadeIn;
  animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
  height: 28vw;
}

#navmenu {
  color: white;
  font-family: 'JungleFever';
  font-size: 30px;
}

.navbtn {
  cursor: pointer;
}

.navelem {
  height: 30px;
}

.navelem, .navelem div {
  display: inline-block;
}

.navelem div {
  margin-left: 10px;
}

.selected-navelem {
  color: orange;
}

#social-medias img{
  height: 48px;
  margin: 10px;
}

.textField {
  font-family: 'Alata';
  font-size: 18px;
  color: white;
  width: 40vw;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  opacity: 1;
}

.galleryField {
  width: 40vw;
  margin: auto;
  margin-top: 40px;
}

.fadeIn {
  opacity: 1;
  animation-name: fadeIn;
  animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 4s;
}

.fadeInFast {
  opacity: 1;
  animation-name: fadeInFast;
  animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}

.fadeInSuperFast {
  opacity: 1;
  animation-name: fadeInFast;
  animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
@keyframes fadeIn{
	0% {
		opacity: 0;
	}
  33% {
    opacity: 0;
  }
	100% {
		opacity: 1;
	}
}

@keyframes fadeInFast{
	0% {
		opacity: 0;
	}
  50% {
    opacity: 0;
  }
	100% {
		opacity: 1;
	}
}

@keyframes fadeInSuperFast{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.logoFadeIn {
  animation-name: logofadeIn; 
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.logoFadeOut {
  animation-name: logofadeOut; 
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}


@keyframes logofadeIn{
	0% {
		opacity: 0;   
    height: 0px;
	}
  50% {
    opacity: 0;
    height: 30vw;
  }
	100% {
    opacity: 1;
    height: 30vw;
	}
}

@keyframes logofadeOut{
	0% {
		opacity: 1;
    height: 30vw;
	}
  50% {
    opacity: 0;
    height: 30vw;
  }

	100% {
		opacity: 0;   
    height: 0px;
	}
}